<!-- templates/planning.html -->
<h2>{{ user.username }}</h2>
<p>first name: {{ user.first_name }}</p>
<p>laste name: {{ user.last_name }}</p>
<p>email: {{ user.email }}</p>


  {% for forfait in forfaits %}
  <p>Heure payer: {{ forfait.heur_payer }}</p>
  <p>Totale d'heur faite: {{ forfait.total_heur }}</p>
  {% endfor %}

{% if plannings_student %}
  {% for planning_student in plannings_student %}
    <ul>
      <li>Instructeur: {{ planning_student.instructor }}</li>
      <li>Lieux: {{ planning_student.location }}</li>
      <li>heure: {{ planning_student.hour }}</li>
      <li>date: {{ planning_student.date }}</li>
    </ul>
  {% endfor %}
{% endif %}
{% if plannings_instructor %}
  {% for planning_instructor in plannings_instructor %}
    <ul>
      <li>Student: {{ planning_instructor.student }}</li>
      <li>Lieux: {{ planning_instructor.location }}</li>
      <li>heure: {{ planning_instructor.hour }}</li>
      <li>date: {{ planning_instructor.date }}</li>
    </ul>
  {% endfor %}
{% endif %}
